@import "lib/scss/main";

.ePeek_info_pane {
    width : 2000px;
    div {
	float : left;
	clear : none;
    }
}

div {
    .ePeek_gene_info {
	@include small-font;

	h1 {
	    font-size : 30px;
	}

    }
}
