div .ePeek_orthologues_tree {
  margin-left: auto;
  margin-right: auto;
  width: 70%; }
div .ePeek_locRow {
  margin-left: auto;
  margin-right: auto;
  width: 70%; }
div .ePeek_groupDiv {
  margin-left: auto;
  margin-right: auto;
  width: 70%; }
