.tnt_tree_container {
    display : inline-block;
    vertical-align : top;
}

.tnt_annot_container {
    display : inline-block;
    vertical-align : top;
    position: relative;
}

#tnt_annot_drag {
    width: 8px;
    position: absolute;
    // left: -4px;
    top: 0;
    bottom: 0;
    cursor: col-resize;
    border-left: 1px dotted grey;
}
