@import "main";
@import "tree";
@import "tree_annot";

// Genes
$gene-opacity : 0.6;

body {
    font-size : 100%;
}

//
// ELEMENTS
//
//
svg {
    text {
	-webkit-user-select: none;
	/* Chrome/Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+ */
	cursor: default;
    }
}

.ePeek_groupDiv {
    position : relative;
    margin : 0px 3px 5px 3px;
}

rect {
    &.ePeek_pane {
	cursor : move;
	opacity : 0;
	pointer-events : all;

	@include transition(opacity, 1s);
    }
    &.ePeek_dark_pane {
	opacity : 0.4;
    }
}

text {
    &.ePeek_wideOK_text {
	font-family:Impact, Charcoal, sans-serif;
	font-size  : 2em;
	cursor : move;
	opacity : 0;

	@include transition(opacity, 1s);
    }
    &.ePeek_tooWide_text {
	opacity : 1;
    }
}

.ePeek_gene {
    filter: alpha(opacity=$gene-opacity);
#    opacity: $gene-opacity;
}


// The tooltip for gene info
div {
    .ePeek_gene_info {
	display  : block;
	position : absolute;
	top      : 0px;
	opacity  : 0;
	background-color : #FFFFFF;
	@include small-font;

	h1 {
	    font-size : 30px;
	}

    }
    .ePeek_gene_info_active {
	opacity : 1;
	z-index : 1001;
    }
}

.ePeek_zmenu {
	     @include tiny-font;
      	     width : 180px;
	     border-style : solid;
	     border-collapse : collapse;
	     th, td {
	        padding-top : 5px;
		padding-right : 5px;
		padding-left : 5px;
		padding-bottom : 5px;
	        white-space : normal;
	        text-align : left;
		vertical-align : top;
		font-size : 12px;
	     }
	     th {
	     	cursor : move;
	     }
	     th:active {
	     	cursor : move;
	     }

}



.tick text {
    @include tiny-font;
}


.ePeek_locRow {
    margin : 8px 0px 5px 5px;
    span {
    	 @include small-font;
    }
}

.ePeek_name {
    @include normal-font;
}
